{{ form_start(form) }}
    {{ form_widget(form) }}

<button class="btn"><a href="{{ path('show_index') }}">Retour</a></button>
<button class="btn btn-success">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
