{% extends 'base.html.twig' %}

{% block title %}Gestion des spectacles{% endblock %}

{% block body %}
    <div class="container">
        <h1>Spectacle</h1>
        <button class="btn>"><a href="{{ path('show_new') }}">Nouveau spectacle</a></button>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for show in shows %}
                <tr>
                    <td>{{ show.date ? show.date|date('d-m-Y H:i') : '' }}</td>
                    <td>{{ show.name }}</td>
                    <td>{{ show.description | truncate(150, true, " ...")}}</td>
                    <td>{{ show.picture }}</td>
                    <td>
                        <a href="{{ path('show_show', {'id': show.id}) }}">Voir</a>
                        <a href="{{ path('show_edit', {'id': show.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas de correspondance trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
