{% extends 'base.html.twig' %}

{% block title %}Hello AboutUsController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <h2>VOTRE MOMENT. NOTRE IMAGINATION.
                    Globe Circus Événements + Expériences
                    ​crée et produit des spectacles sur mesure pour une clientèle internationale à la recherche
                    d'expériences uniques et de classe mondiale.
                </h2>
            </div>
            <div>
                <img src="{{ ('/img/andorra_1_orig.jpg') }}" alt="">
                <img src="{{ ('/img/astana_1_orig.jpg') }}" alt="">
            </div>
            <div>
                <p>​Nous sommes plus que du cirque;
                    ​ notre imagination sans limite offre des possibilités infinies, ce qui fait de nous, le partenaire
                    idéal pour émerveiller et émouvoir un large public. </p>
                <img src="{{ ('/img/baldumac_1_orig.jpg') }}" alt="">
            </div>
            <div>
                <img src="{{ ('/img/cdsas_1_orig.jpg') }}" alt="">
                <img src="{{ ('/img/creactive_orig.jpg') }}" alt="">
            </div>
            <div>
                <img src="{{ ('/img/glade_1_orig.jpg') }}" alt="">
                <img src="{{ ('/img/hf_2_orig.jpg') }}" alt="">
            </div>
            <div>
                <img src="{{ ('/img/joya_1_orig.jpg') }}" alt="">
                <p>​Qu'il s'agisse d'événements privés, d'attractions touristiques ou de productions à grande échelle,
                    chaque projet est conçu pour répondre aux objectifs des clients et s'appuie sur la richesse unique
                    du savoir-faire créatif du Globe Circus.</p>
            </div>
            <div>
                <img src="{{ ('/img/jupn_1_orig.jpg') }}" alt="">
                <img src="{{ ('/img/youtube_1_orig.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}
